#link1:link {
    color: #CFCFCF;
       background-color: transparent;
       text-decoration: none;
    }
#link1:hover {
        color:white;
        background-color: transparent;
        text-decoration: underline;
    }
#link2:link {
    color: black;
       background-color: transparent;
       text-decoration: none;
    }
#link2:hover {
        color:#0404BC;
        background-color: transparent;
        text-decoration: none;
    }
#btn1{
background-color: #000033;
}
#btn1:hover{
    background-color: #003366;
    }
#btn2{
background-color: #000033;
border-color: #B8B8B8;
color: #9F9F9F;
}
#btn2:hover{
    background-color: #003366;
    border-color: #D1CFCF;
    color: #D1CFCF;
    }
#post{
background-color: white;
}

#logoimg{
	width: 198px;
	height: 65px;
	padding-left: 10%;
	padding-top: 2%;
}
#headertagline{
	text-align:right;
	padding-top: 3%; 
	padding-right: 2.5%;
}
#navbar{
	background-color: #000033;
}
#maincont{
	padding-left: 1%;
	background-color:white;
}
#card{
	width: 98%
}
#cardimgdiv{
	text-align: center
}
#cardimg{
	width:94%;
}
#cardname{
	font-size: 17px;
}
#cardsignout{
	font-size: 13px;
}
#btnsignout{
	padding-right: 8%;
	width: 100%;
}
#cardprobar{
	width: 100%;
}
#footertop{
	background-color: #000033;
	color: #CFCFCF;
	padding-top: 10px;
	text-align: center;
}
#footertopdiv{
	padding-left: 4%;
}
#footerhr{
	width: 90%;
	text-align: center;
	background-color:#9D9D9D;
}
#footermid{
	background-color: #000033;
	color: #CFCFCF;
}
#footermiddiv{
	padding-left: 4%;
}
#footermid1{
	font-size: 13.7px
}
#footermid2{
	font-size: 13.5px
}
#footerbot{
	background-color: #000033;
	color: #CFCFCF;
}
#footerbothr{
	width: 90%;
	text-align: center;
	background-color:#9D9D9D;
}
#copy{
	text-align: center;
}