@charset "utf-8";
/* CSS Document */

#img{
	border:solid;
	border-color:#8080FE;
	border-width: 1px;
	width: 100%;
}
#img:hover{
	border-color: #000033;
	width: 97%;
	box-shadow: 1px 1px 1px black, 0 0 2px #000033, 0 0 6px blue;
}
#lognav{
	background-color: #000033;
	padding: 5px;
	color: white;
	font-size: 12px;
	width: 100%;
}
.logbtn{
	font-size: 10px;
	height: 20px;
	padding: 3px;
	width: 50px;
}
.logemail{
	font-size: 12px;
	height: 20px;
	width: 100%;
}
.logpwd{
	font-size: 12px;
	height: 20px;
	width: 100%;
}
.regbtn{
	width: 100%;
}
#d1{
	background-color: #000033;
}
#regfrm{
	width: 90%;
}
#logemail{
	font-size: 12px;
	height: 20px;
	width: 100%;
}
#logpwd{
	font-size: 12px;
	height: 20px;
	width: 100%;
}
#logbtn2{
	background-color: #000033;
	border-color: #B8B8B8;
	color: #9F9F9F;
	font-size: 10px;
	height: 20px;
	padding: 3px;
	width: 50px;
}
#logbtn2:hover{
    background-color: #003366;
    border-color: #D1CFCF;
    color: #D1CFCF;
	font-size: 10px;
	height: 20px;
	padding: 3px;
	width: 50px;
    }